body {
	background-color: #478bcc;
}

.form-container {
	background-color: #f6f7f8;
	width: 400px;
	height: 400px;
	margin: 100px auto;
	border-radius: 4px;
	padding: 40px 50px 70px;
}

h2 {
	font-weight: normal;
	margin-bottom: 30px;
	color: #46515c;
}

input {
	width: 380px;
	height: 50px;
	margin: 12px 0 30px 0;
	border-radius: 4px;
	border: 0.5px solid #edf0f2;
	font-size: 16px;
	outline: none;
}

label {
	color: #46515c;
	font-weight: bold;
}

a{
	text-decoration: none;
}

button{
	width: 380px;
	height: 60px;
	background-color: #478bcc;
	border-radius: 4px;
	color: #fff;
	border: none;
	font-size: 16px;
	outline: none;
	margin-top: 20px;
	cursor: pointer;
}

#second-div {
	color: #a1bdff;
	text-align: center;
	margin: -55px 0 70px;
}